@use 'modules/global';
@use 'shared/navbar';
@use 'components/account';
h3 {
  text-align: center;
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__section {
  color: white;
  width: 75%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), aliceblue);
  padding: 10px;
  border-radius: 10px;
}