@use 'components/index';
@use 'modules/global';
@use 'shared/navbar';
@use 'shared/footer';
@use 'components/forms';
@use 'components/signin';
@use 'components/signup';
@use 'components/account';
@use 'components/notfound';

html {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
