@use 'components/index';
@use 'modules/global';
@use 'shared/navbar';
@use 'shared/footer';
@use 'components/forms';
@use 'components/signin';
@use 'components/signup';
@use 'components/account';

html {
    background-color: rgb(255 255 255 / 70%);
    height: 100%;
    min-height: 100%;
}

body {
    align-items: center;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./../img/application/background-1.svg'), url('./../img/application/background-2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    align-items: center;
    display: flex;
    height: inherit;
    min-height:inherit;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}