doctype html
html(lang='en')
    head
        include ../shared/header.pug
        block title
    body
        block navbar
        .container
            block content

        include ../shared/footer.pug
        block script