doctype html
html(lang="en")
    head
        include ../shared/header.pug
        block title
    body
        include ../shared/navbar.pug
        block content

        include ../shared/footer.pug