doctype html
html(lang='en')
    head
        include ../shared/errheader.pug
        block title
    body
        block navbar
        .container
            block content
        include ../shared/footer.pug
