.index-page-container {
  margin: 60px 0;
}

.index {
  text-align: center;
  height: 100%;
  grid-template-columns: 4fr 2fr;
  align-content: center;
  gap: 10px;
  display: grid;
}

.index-header, .index-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.index-header {
  color: #f08080;
}

.index-content > img {
  max-width: 300px;
}

.index-content {
  text-align: center;
}

.index-get-started button {
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
}

.index-get-started button a {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: #ff8c00;
  border-radius: 50px;
  padding: 10px;
  font-family: Verdana, sans-serif;
  font-size: 1.5em;
  transition: box-shadow .2s ease-in-out;
  display: inline-block;
  box-shadow: 0 0 5px #fffaf0;
}

.index-get-started button a:hover {
  transition: box-shadow .2s ease-in-out;
  box-shadow: 0 0 10px #fffaf0;
}

@media only screen and (max-width: 950px) {
  .index {
    grid-template-columns: 1fr;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: none;
}

#profile {
  height: 40px;
  width: 40px;
}

#title {
  color: #fff;
  align-items: center;
  display: flex;
}

.profile {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translate(-50%);
}

#burger {
  color: #fffaf0;
}

.control {
  display: inherit;
  width: inherit;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1030px) {
  .control {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .control a {
    width: 100%;
  }
}

footer {
  text-align: center;
  width: 100%;
  background: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

footer h3 {
  color: #faebd7;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-weight: 900;
  display: flex;
}

footer h3 i {
  margin-right: 5px;
}

.form-utilities {
  flex-direction: column;
  display: flex;
}

.form-utilities label {
  margin-bottom: 5px;
}

.form-utilities span {
  flex-direction: inherit;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-utilities span p {
  margin: 5px 0;
}

.form-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  display: flex;
}

.eye {
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 10px;
}

.account-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
  max-width: 100% !important;
}

.account-sections {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(250px, auto);
  gap: 10px;
  display: grid;
}

.account-section-cell {
  background-color: #fffffff2;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px silver;
}

.account-section-cell h2 {
  text-align: center;
}

.update-info-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.update-info-container input {
  margin: 5px 0;
}

.update-info-container .update-info {
  width: 90%;
}

.update-info-container .update-info h3 {
  margin: 5px 0;
}

.update-info-container .update-info .icon {
  margin-top: 5px;
}

.update-info-container .update-info .icon i.fa-eye, .update-info-container .update-info .icon i.fa-eye-slash {
  z-index: 1;
  cursor: pointer;
}

.update-info-container .update-info .account-submit-section {
  text-align: center;
  width: 100%;
}

.profile-info-container {
  width: 100%;
  padding: 0 40px;
  position: relative;
}

.profile-info-container .profile-info {
  margin-bottom: 60px;
}

.profile-info-container .profile-info .uname, .profile-info-container .profile-info .fname, .profile-info-container .profile-info .email {
  justify-content: space-between;
  display: flex;
}

.profile-info-container .profile-info .uname h3, .profile-info-container .profile-info .fname h3, .profile-info-container .profile-info .email h3 {
  text-align: left;
}

.profile-info-container .profile-info .uname p, .profile-info-container .profile-info .fname p, .profile-info-container .profile-info .email p {
  text-align: right;
}

.account-page-btn-container {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.profile-info-container-pic {
  text-align: center;
  width: 100%;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.profile-info-container-pic .profile-section {
  height: 150px;
  width: 150px;
  position: relative;
}

.profile-info-container-pic .profile-section img {
  height: 150px;
  object-fit: cover;
  width: 150px;
  border-radius: 50%;
}

.profile-info-container-pic .profile-section #profile-pic-input {
  display: none;
}

.profile-info-container-pic .profile-section label {
  cursor: pointer;
  background: #000;
  border-radius: 50%;
  padding: 0 5px 2px;
  position: absolute;
  bottom: 17px;
  right: 17px;
}

.profile-info-container-pic .profile-section label i {
  color: #fff;
  font-size: 1.2em;
}

.profile-info-container-pic .profile-pic-upload-button {
  color: #fff;
  cursor: pointer;
  background: indigo;
  outline: none;
  margin-top: 5px;
  font-size: 1.1em;
}

@media only screen and (max-width: 800px) {
  .account-sections {
    width: 95%;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

html {
  height: 100%;
  min-height: 100%;
  background-color: #ffffffb3;
}

body {
  min-height: 100%;
  background-image: url("background-1.c675ba9e.svg"), url("background-2.dec26221.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container {
  height: inherit;
  min-height: inherit;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*# sourceMappingURL=main.css.map */
