* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#profile {
  width: 40px;
  height: 40px;
}

#title {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.profile {
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}

.control {
  width: inherit;
  display: inherit;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media only screen and (max-width: 1030px) {
  .control {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
  }

  .control a {
    width: 100%;
  }
}

footer {
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid gray;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

footer h3 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-weight: 900;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

footer h3 i {
  margin-right: 5px;
}

.form-utilities {
  height: 100px;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.form-utilities label {
  margin-bottom: 5px;
}

.form-utilities span {
  width: 100%;
  flex-direction: inherit;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.form-utilities span p {
  margin: 5px 0;
}

.form-container {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.account-container {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  max-width: 100% !important;
}

.account-sections {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(250px, auto);
  gap: 10px;
  display: grid;
}

.account-section-cell {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid #9acd32;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

.profile-info-container {
  width: 100%;
  padding: 0 40px;
}

.profile-info-container .profile-info .uname, .profile-info-container .profile-info .fname, .profile-info-container .profile-info .email {
  width: 100%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.profile-info-container .profile-info .uname h3, .profile-info-container .profile-info .fname h3, .profile-info-container .profile-info .email h3 {
  text-align: left;
}

.profile-info-container .profile-info .uname p, .profile-info-container .profile-info .fname p, .profile-info-container .profile-info .email p {
  text-align: right;
}

.profile-info-container-pic {
  text-align: center;
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.profile-info-container-pic .profile-section {
  width: 150px;
  height: 150px;
  position: relative;
}

.profile-info-container-pic .profile-section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-info-container-pic .profile-section #profile-pic-input {
  display: none;
}

.profile-info-container-pic .profile-section label {
  cursor: pointer;
  background: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0 5px 2px;
  position: absolute;
  bottom: 17px;
  right: 17px;
}

.profile-info-container-pic .profile-section label i {
  color: #fff;
  font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
  .account-sections {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.container {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

/*# sourceMappingURL=main.css.map */
