extends ../templates/base.pug
block title 
    title Account 

block content 
    .account-container 
        h1.text-center Your Account
        .account-sections
            .profile-container.account-section-cell
                .profile-container-profile-pic 
                    img(src="./img/user.png", alt="Placeholder For Profile Pic")
            .info-container.account-section-cell
                h2 Info Details 
            .extra-container.account-section-cell
                h2 Extra Details 