extends ../templates/error.pug
block title
    title Forgot Password

block content
    .fp-container
        h1.fp-header.is-size-4.has-text-white Email Sent Successfully
        a.has-text-success(href='/') Back To Home
