doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 403 | Forbidden
        style(type="text/css").
            .error-page-container {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family:"Source Code Pro", monospace;
            }
            .error-header {
                color: lightgray;
            }
            .error-page-link {
                background-color:lightblue;
                text-decoration:none;
                font-size:1.3em;
                border-radius:10px;
                color:white;
                font-family:"Verdana", monospace;
                padding: 10px;
            }

    body 
        .error-page-container 
            h1.error-header 403 | Forbidden
            a.error-page-link(href="/") 
                | Back To Home