extends ../templates/base.pug
block title
    title Forbidden

block content
    .error-page-container 
        h1.error-header 403 | Forbidden
        a.error-page-link(href='/') 
            | Back To Home
