extends ../templates/error.pug
block title
    title Forgot Password

block content
    .fp-container
        form.fp-form(action='/forgot-password', method='POST')
            h1.fp-header.is-size-4.has-text-white Forgot Password
            .fp-input
                .field
                    p.span-error.has-text-centered.has-text-danger #{ resetErrors.emailExists }
                input.input(
                    type='email',
                    required,
                    name='password_reset_email',
                    placeholder='Enter Your Email'
                )
                button.button.is-success.fp-button(type='submit') Send Reset URL
                a.has-text-success(href='/') Back To Home
