extends ../templates/base.pug
block title 
    title Authly
block content 
    .index-page-container 
        .index 
            .index-header
                h1.is-size-1 Authly
                h3.is-size-4 An Authentication Application Built Using Pug Template Engine, NodeJS, ExpressJS & PostgreSQL
            .index-content 
                img(src="./img/authly.png", alt="Authly Logo Image")
            .index-get-started 
                button
                    a(href="/signup") Get Started