extends ../templates/base.pug
block title
    title Authly
block content
    .index-page-container 
        if notfify
            .notification.is-info.is-light
                button#notification-close-button.delete
                p You Are Successfully Logged Out Of Your Account
                a(href='/signin') Log In Again

        .index 
            .index-header
                h1.is-size-1 Authly
                h3.is-size-4 An Authentication Application Built Using Pug Template Engine, NodeJS, ExpressJS & PostgreSQL
            .index-content 
                img(src='./img/application/authly.png', alt='Authly Logo Image')
            .index-get-started 
                button
                    a(href='/signup') Get Started
    script(type='text/javascript').
        const closeNotificationBtn = document.getElementById('notification-close-button')
        closeNotificationBtn.addEventListener('click', () => {
            document.querySelector('.notification').style.display = 'none'
        })
