extends ../templates/base.pug
block title
    title Login
block content
    .login-form-container
        .field 
            h1.is-size-1 Login
        .field
            label.label Email
            .control.has-icons-left.has-icons-right
                input.input.is-link(type='email', placeholder='Email input')
                span.icon.is-small.is-left
                    i.fas.fa-envelope
        .field
            label.label Password
            .control.has-icons-left.has-icons-right
                input.input.is-link(type='password', placeholder='Password')
                span.icon.is-small.is-left
                    i.bi.bi-key
                span.icon.is-small.is-right
                    i.fas.fa-eye-slash(style='cursor: pointer; z-index: 2')
        .field
            .control
                label.checkbox
                    input(type='checkbox')
                    |
                    | I Agree To
                    |
                    a(href='#') Terms & Conditions
        .field.is-grouped
            .control
                button.button.is-link Login
