extends ../templates/error.pug
block title
    title Not Found

block navbar

block content
    .error-page-container 
        h1.error-header 404 | Not Found
        a.error-page-link(href='/') Back To Home
