extends ../templates/base.pug
block title
    title Register
block content
    .field
        label.label Name
    .control
        input.input(type='text' placeholder='e.g Alex Smith')
    .field
        label.label Email
    .control
        input.input(type='email' placeholder='e.g. alexsmith@gmail.com')
