extends ../templates/base.pug
block title
    title Reset Password

block navbar
    include ../shared/navbar.pug
block content
    .fp-container
        form.fp-form(action='/forgot-password/enter-email', method='POST')
            h1.fp-header.is-size-4 Forgot Password
            .fp-input
                input.input(type="password" name="reset_new_password" required=true placeholder="Type New Password...")
                input.input(type="password" name="reset_confirm_password" required=true placeholder="Confirm New Password...")
                button.button.is-success.fp-button(type="submit") Submit
    include ../shared/footer.pug