footer {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top: 1px solid gray;
    h3 {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        i {
            margin-right: 5px;
        }
    }
}
