#profile {
    width: 40px;
    height: 40px;
}
#title {
    display: flex;
    align-items: center;
}
.profile {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.control {
    width: inherit;
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 1030px){
    .control {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            width: 100%;
        }
    }
}