.profile-container {
  position: relative;
  width: 150px !important;

  img {
    margin: 0 !important;
  }

  label {
    background-color: gray;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    left: 95px;
    padding: 1.5px 5px;
    position: absolute;
    top: 100px;
  }

  input {
    background-color: red;
    cursor: pointer;
  }
}
