.form-utilities {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 5px;
    }
    span {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: inherit;
        justify-content: space-between;
        p {
            margin: 5px 0 5px 0;
        }
    }
}
