.form-utilities {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
    }

    span {
        align-items: center;
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        width: 100%;

        p {
            margin: 5px 0;
        }
    }
}
