.index-page-container {
    margin-top: 60px;
}

.index {
    align-content: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    row-gap: 10px;
    text-align: center;
}

.index-header,
index-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-content > img {
    width: 300px;
}

.index-content {
    text-align: center;
}

.index-get-started button {
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;

    a {
        background-color: rgb(0 0 0 / 90%);
        border: 1px solid orangered;
        border-radius: 5px;
        box-shadow: 0 0 5px orangered;
        color: white;
        display: inline-block;
        font-family: Verdana, monospace;
        font-size: 1.5em;
        height: 100%;
        padding: 10px;
        transition: box-shadow 200ms ease-in-out;
        width: 100%;

        &:hover {
            box-shadow: 0 0 10px orangered;
            transition: box-shadow 200ms ease-in-out;
        }
    }
}

@media only screen and (max-width: 950px) {
    .index {
        grid-template-columns: 1fr;
    }
}
