.index-page-container {
    margin: 60px 0;
}

.index {
    align-content: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    row-gap: 10px;
    text-align: center;
    height: 100%;
}

.index-header,
.index-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-header {
    color: lightcoral;
}
.index-content > img {
    max-width: 300px;
}

.index-content {
    text-align: center;
}

.index-get-started button {
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
    border: none;

    a {
        background-color: darkorange;
        backdrop-filter: blur(2px);
        border-radius: 50px;
        box-shadow: 0 0 5px floralwhite;
        color: white;
        display: inline-block;
        font-family: "Verdana", sans-serif;
        font-size: 1.5em;
        height: 100%;
        padding: 10px;
        transition: box-shadow 200ms ease-in-out;
        width: 100%;
        &:hover {
            box-shadow: 0 0 10px floralwhite;
            transition: box-shadow 200ms ease-in-out;
        }
    }
}

@media only screen and (max-width: 950px) {
    .index {
        grid-template-columns: 1fr;
    }
}
