.error-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    justify-content: center;
}

.error-header {
    color: lightgray;
    font-size: 28px;
    margin-bottom: 15px;
}

.error-page-link {
    background-color: lightblue;
    border-radius: 10px;
    color: white;
    font-family: Verdana, monospace;
    font-size: 1.3em;
    padding: 10px;
    text-decoration: none;
}
