.form-container {
    align-items: center;
    color: var(--default-fg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
}

.eye {
    background: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 1;
}

.label {
    color: var(--default-fg-color);
}
