.form-container {
    margin: 50px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: var(--default-fg-color);
}

.eye {
    background: none;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 8px;
}
.label {
    color: var(--default-fg-color);
}