.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.eye {
    background: none;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 8px;
}
