nav.navbar.is-fixed-top
    // logo / brand
    .navbar-brand
        a#title.navbar-item(href='/')
            img#logo(
                style='margin: 0 10px 0 0 !important',
                src='./img/application/authly.png',
                alt='Authly Logo'
            )
            h1.is-size-4 Authly
        a#burger.navbar-burger
            span
            span
            span

    a.nav-item.profile(href='/account')
        if user === undefined || user.profile_image === null || user.profile_image === undefined
            img#profile(src='./img/application/user.png', alt='Profile Placeholder Image')
        else
            img#profile(src=`${user.profile_image}`, alt='Profile Placeholder Image')

    #nav-links.navbar-menu.has-text-centered
        // right links
        .navbar-end(style="background-color:transparent;")
            p.control
                a.button.has-background-primary-light(href='/')
                    span.icon.has-text-link-dark
                        i.fa-solid.fa-home
                    span.has-text-link-dark Home
            if !auth
                p.control
                    a.button.has-background-primary-light(href='/signin')
                        span.icon.has-text-link-dark
                            i.fa-solid.fa-arrow-right-to-bracket
                        span.has-text-link-dark Log In
            else
                form.control(action='/account/user/logout', method='POST')
                    button(style="width: 100%;", type="submit").button.has-background-primary-light
                        span.icon.has-text-link-dark
                            i.fa-solid.fa-angles-left
                        span.has-text-link-dark Log Out
            p.control
                a.button.has-background-primary-light(href='/signup')
                    span.icon.has-text-link-dark
                        i.fa-solid.fa-id-card
                    span.has-text-link-dark Register
