nav.navbar.is-white.has-shadow.is-fixed-top
    // logo / brand
    .navbar-brand
        a.navbar-item#title
            img#logo(style="margin: 0 10px 0 0!important;" ,src='./img/authly.png', alt='Authly Logo')
            h1.is-size-4 Authly
        a#burger.navbar-burger
            span
            span
            span

    a.nav-item.profile(href="/account")
            img#profile(src="./img/user.png", alt="Profile Placeholder Image") 

    #nav-links.navbar-menu.has-text-centered
        // right links
        .navbar-end
            p.control.mx-1.has-text-primary-light
                a.button.has-background-black(href='/')
                    span.icon.has-text-primary-light
                        i.fa-solid.fa-home
                    span.has-text-primary-light Home
            p.control.mx-1
                a.button.has-background-black(href='/signin')
                    span.icon.has-text-primary-light
                        i.fa-solid.fa-arrow-right-to-bracket
                    span.has-text-primary-light Signin
            p.control.mx-1
                a.button.has-background-black(href='/signup')
                    span.icon.has-text-primary-light
                        i.fa-solid.fa-user
                    span.has-text-primary-light Signup
