.navbar_container
    nav.navbar
        - var isLoggedIn = false;
        header.header#header 
            i.bi.bi-cup-hot-fill.me-1.text-white
            |Espresso
        .nav-item-0
                i.bi.bi-moon#theme-icon
        ul.list#navbar
            li.nav-item.nav-item-1
                a.link(href="/") Home
            li.nav-item.nav-item-2
                a.link(href="/login") Login
            li.nav-item.nav-item-3
                a.link(href="/signup") Register
            if isLoggedIn
                li.nav-item.nav-item-4
                    a.link(hred="/account") Account
        i.fa-solid.fa-bars.text-white.menu#menu